nav a {
    border-bottom: none;
}

nav div {
    margin: 0.2rem 0.2rem;
}

nav ul.inline {
    margin-top: 0;
    margin-bottom: auto;
}
.collapsible label{
    font-size: 1.3em;
    font-weight: normal;
}
.nav-icon-github {
    width: 48px;
    position: relative;
    top: 14px;
}
.nav-icon-saomiao {
    width: 64px;
    position: absolute;
    top: 12px;
    left: 16px;
}

.person-info {
    margin: 0 2%;
}

.card-avatar {
    text-align: center;
    margin-top: 1em;
}

.card-avatar img {
    max-width: 70%;
    display: inline;
}

.content {
    width: 90%;
}

#content3 img {
    width: 48px;
    top: 14px;
    margin-right: 10px;
    position: relative;
}

#content3 span {
    color: #a2a2a2
}

footer {
    text-align: center;
    padding: 2em 0;
}